.cont_box {
	width: auto;
}

@media screen and (max-width:1024px) {
	.main_box {
		min-width: auto;
	}
	.cont_box {
		width: auto
	}
}

.wrap {
	min-width: auto;
}

@media only screen and (max-width: 480px) {
	.title .en {
		font-size: 3.2em;
	}
}

.fw_list {
	padding-top: 2em;
}

.fw_list .fw_list_li {
	cursor: pointer;
	position: relative;
	margin-bottom: 2em;
}

.fw_list .fw_list_li a {
	border: 10px #efefef solid;
	display: block;
}

.fw_list .fw_list_li a img {
	width: 100%;
	max-width: 100%;
}

.fw_list .fw_list_li .list_title {
	width: 80px;
	height: 100px;
	padding: 0 10px;
	background: #efefef;
	position: absolute;
	bottom: -6px;
	right: 5px;
	z-index: 3;
}

.fw_list .fw_list_li .list_title span {
	font-family: 'edwardian';
	color: #ff4747;
	font-size: 3.6em;
	line-height: 1;
}

.fw_list .fw_list_li .list_title p {
	font-size: .875em;
	color: #999;
	margin-top: -8px;
	text-align: right;
}

.fw_list .fw_list_li:hover a {
	border-top-color: #d10f44;
	border-right-color: #d10f44;
	border-bottom-color: #d10f44;
	border-left-color: #d10f44;
}

.fw_list .fw_list_li:hover .list_title {
	background: #d10f44
}

.fw_list .fw_list_li:hover .list_title span,
.fw_list .fw_list_li:hover .list_title p {
	color: #fff
}

.zx_list {
	width: 100%;
}

.zx_left {
	padding: 0;
}

.zx_list h3 {
	margin: 0;
	width: auto;
}

.zx_list {
	margin-bottom: 0;
	margin: 0;
	height: 650px;
}

.zx_list li {
	padding: 0;
}

.zs_description {
	margin: 0;
}

.eight_project li a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 992px) {
	.zx_list_img {
		height: auto;
	}
}

.brand_projects li a:hover {
	text-decoration: none;
}

.ys_box h4 {
	color: #FFFFFF;
}

.ys_box a {
	display: block;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
	width: 80%;
	margin: 0 auto;
}

.ys_box a img {
	width: 30%;
	margin-top: 30%;
}

.ys_row {
	padding-top: 30px;
}

@media only screen and (max-width: 768px) {
	.ys_box.col-xs-6 a {
		width: 80%;
		margin-bottom: 20px;
	}
}

.sns_box {
	padding-top: 80px;
}

.sns_box ul {
	display: inline-block;
}

.copyright {
	width: 100%;
}

.fonter_nav {
	width: auto;
	width: 25%;
}

.bt_logo_box {
	border-right: 1px #646464 dashed;
}

@media only screen and (max-width: 992px) {
	.sns_box {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.fonter_nav {
		height: 175px;
		width: auto;
		width: 50%;
	}
	.fonter_nav li a {
		font-size: 0.85em;
	}
	.bt_logo_box {
		border: 0px;
	}
}

a.prev_btn,
a.next_btn {
	z-index: 998;
}

.top_bar_mob {
	background: url(../images/top_bg.png);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	padding: 10px 0;
}

.nav_menu {
	color: #d10f44;
	font-size: 28px;
}

.nav li a:hover {
	text-decoration: none;
}

.guide_nav {
	z-index: 999;
}

.mob_nav {
	background: url(../images/top_bg.png);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	padding: 20px 0;
	padding-top: 40px;
	display: none;
}

.mob_nav_list {
	margin: 0;
}

.mob_nav_list li a {
	display: inline-block;
	padding: 10px 0;
	color: #d10f44;
	width: 100%;
}

.mob_nav_list li a:hover {
	text-decoration: none;
	color: #d10f44;
}

.search_ipt {
	border: 1px solid #d10f44;
	background-color: rgba(0, 0, 0, 0);
	display: block;
	width: 100%;
	padding: 8px 10px;
	color: #FFFFFF;
	border-radius: 4px;
}

.mob_search {
	position: relative;
	margin-bottom: 10px;
}

.search_btn {
	display: inline-block;
	width: 25px;
	height: 20px;
	border: none;
	background: url(../images/icon_search.png) no-repeat;
	cursor: pointer;
	position: absolute;
	top: 8px;
	right: 10px;
}

.close_mob_nav {
	position: fixed;
	color: #d10f44;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 10px 15px;
	font-size: 18px;
}
.mob_zg{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;	
}
@media only screen  and (max-width: 1200px) {
	.zx_list {
		height: 539px;
	}
}

@media only screen  and (max-width: 992px) {
	.subpage_banner{
		padding-top: 52px;
	}
	.zx_list{
		height: auto;
	}
	.eight_project{
		height: auto;
		padding-bottom: 30px;
	}

}

