@font-face {
	font-family: 'edwardian';
	src: url("fonts/edwardian_script_itc-webfont.eot")/*tpa=http://62943095.cn/case/moru/images/fonts/edwardian_script_itc-webfont.eot*/; /* IE9 Compat Modes */
	src: url("fonts/edwardian_script_itc-webfont.eot-#iefix")/*tpa=http://62943095.cn/case/moru/images/fonts/edwardian_script_itc-webfont.eot?#iefix*/ format('embedded-opentype'), /* IE6-IE8 */
             url("fonts/edwardian_script_itc-webfont.woff")/*tpa=http://62943095.cn/case/moru/images/fonts/edwardian_script_itc-webfont.woff*/ format('woff'), /* Modern Browsers */
             url("fonts/edwardian_script_itc-webfont.ttf")/*tpa=http://62943095.cn/case/moru/images/fonts/edwardian_script_itc-webfont.ttf*/  format('truetype'), /* Safari, Android, iOS */
             url("fonts/edwardian_script_itc-webfont.svg#YourWebFontName")/*tpa=http://62943095.cn/case/moru/images/fonts/edwardian_script_itc-webfont.svg#YourWebFontName*/ format('svg'); /* Legacy iOS */
}
body{font-family:'Droid Serif', 'Helvetica Neue', "Microsoft YaHei", SimHei, Helvetica, Arial, Sans-serif;font-size:16px;line-height:1.8; color:#666666; background:#fff;text-align:justify; text-justify:inter-word;}
html, body, div, p,ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th,td,
header,section,article {margin: 0;padding: 0; }
h3{font-family: 'Droid Serif','Helvetica Neue',"Microsoft YaHei",SimHei,Helvetica,Arial,Sans-serif}
img {border: 0 none;vertical-align: top;outline:none}
ul, li {list-style-type: none; }
input, select, button, textarea{font-size:12px;font-family: Tahoma, Geneva, sans-serif; }
button {cursor: pointer; }
i, em, cite,u{ font-style: normal; }
input:focus{outline:none;}

a{color:#666;text-decoration:none;outline:none;cursor:pointer;}
a:hover{text-decoration:none;color:#E4007B;}
a:focus{outline:none;}

a.blue{color:#0a8cd2}
a.blue:hover{ text-decoration:underline}

/* hide xunlei plugin assist in chrome */
embed[id^="xunlei_com_thunder_helper_plugin_"]{display:none;}

.clearfix:before, .clearfix:after { content: '.'; display: block; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.fixed { display: block; min-height: 1%; }
*html .fixed { height: 1%; }

.clear { diplay: block; float: none; clear: both; overflow: hidden; width: auto; height: 0; margin: 0 auto; padding: 0; font-size: 0; line-height: 0; }
.fl{float:left;}
.fr{float:right;}


.normals{font-style:normal;font-weight:normal;}

.pt10{padding-top:10px}
.pt20{padding-top:20px}
.pt30{padding-top:35px}

.pb20{ padding-bottom:20px}
.pb40{ padding-bottom:40px}
.pb50{ padding-bottom:50px}
.pb60{ padding-bottom:62px}
.pb100{ padding-bottom:100px}
.pb110{ padding-bottom:110px}

.mb50{margin-bottom:50px}
.mt40{margin-bottom:40px}
.pb8{padding-bottom:96px}
